.layer{
    width: 100%;
    height: 100vh;
    float: left;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 1;
    outline: black;
}

#fstlayer{
    background-color: black;
    z-index: 12;
}

#seclayer{
    z-index: -12;
    background-color: white;
}

.slidecontainer {
    width: 60%;
    /* margin: auto; */
    position: fixed;
    bottom: 2%;
    right: 20%;


  }
.slider-pic {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-pic:hover {
    opacity:1;
}

.slider-pic::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 30px;
    border: 0;
    background: red;
    cursor: pointer;
}

.slider-pic::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('img/bright.png');
    cursor: pointer;
}

.if{
    width: 80%;
    height: 80vh;
    border: none;
    /* margin: 10% 10%; */
    outline: none;
    position: relative;
    top: 10%;
    left: 10%;
}